.searchWrapper {
  margin-bottom: 40px;
}
.titleSearch {
  color: #353839;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  margin-left: 40px;
}

.input {
  padding-left: 40px;
  margin-left: 40px;
  width: 370px;
  height: 30px;
  border-radius: 0.5rem;
  border: 2px solid #00bfff;
  box-shadow: 0 0 4px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff;
}

.input:hover {
  border: 2px solid #009acd;
  cursor: pointer;
}
.input:focus,
.input:focus-visible {
  border: 2px solid #009acd;
  outline: 4px auto #009acd;
}

.iconFilter {
  color: #009acd;
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  margin-left: 54px;
}
