.wrapper {
  border: 2px solid #00bfff;
  box-shadow: 0 0 4px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff;
  width: 320px;
  margin-left: 40px;
  margin-bottom: 40px;
  border-radius: 0.3rem;
}

.formWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}

.textSpan {
  color: #353839;
  font-weight: 500;
}

.input {
  width: 280px;
  height: 25px;
  border-radius: 0.3rem;
  border: 2px solid #00bfff;
  box-shadow: 0 0 4px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff;
}

.input:hover {
  border: 2px solid #009acd;
}
.input:focus,
.input:focus-visible {
  border: 2px solid #009acd;
  outline: 4px auto #009acd;
}

.btnAddContact {
  color: #353839;
  font-weight: 500;
  width: 120px;
  font-size: 14px;
  margin: 20px auto;
  border: 2px solid #00bfff;
  box-shadow: 0 0 4px #00bfff, 0 0 8px #00bfff, 0 0 12px #00bfff;
}

.errorMessage {
  color: red;
  font-size: 10px;
  font-style: italic;
}
